<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trojan Tech Ticket System</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/sort_table.css">
	</head>
	<body>
		{{template "navbar" $}}
		<main class="container-fluid">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Category</th>
						<th>Worker</th>
						<th>Customer</th>
						<th>Outcome</th>
						<th>Description</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					{{range .Tickets}}
					<tr>
						<td>{{.Number}}</td>
						<td>{{.Category}}</td>
						<td><!-- evil hack lives here -->{{$.Workers | json | workerName .Worker}}</td>
						<td><a href="mailto:{{.Customer.Email}}">{{.Customer.Name}}</a></td>
						<td>{{if .EscalatedTo}}Escalated to {{.EscalatedTo}}{{else}}Resolved{{end}}</td>
						<td>{{.Description | truncate 80}}</td>
						<td>{{.Time | timeIn "US/Central" | timeFormat "2006-01-02 3:04 PM"}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
		<script src="/assets/sort_table.js"></script>
		<script>
$(function() {
	$("tbody>tr").click(function() {
		location.assign("tickets/" + this.children[0].textContent);
	});
});
		</script>
	</body>
</html>
