<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trojan Tech Ticket System</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/printable.css">
	</head>
	<body>
		{{template "navbar" $}}
		<main class="container" id="main">{{with .Ticket}}
			<h1>Ticket #{{.Number}}</h1>
			<div>
				By {{.Worker}} at {{with $t := .Time | timeIn "US/Central"}}
					{{$t | timeFormat "3:04 PM"}} on {{$t | timeFormat "January 2, 2006"}}
				{{end}}
			</div>
			<div class="text-muted">Category: {{.Category}}</div>
			<div>
				Student: <a href="mailto:{{.Customer.Email}}">{{.Customer.Name}}</a>
				<span class="noscreen">({{.Customer.Email}})</span>
			</div>
			<div>Student Grade: {{.Customer.Grade | gradeString}}</div>
			<div>Class Skipped: {{.ClassTeacher}} {{.ClassName}} ({{.ClassType}})</div>
			<div>Status: {{if .EscalatedTo}}Escalated to {{.EscalatedTo}}{{else}}Resolved{{end}}</div>
			<hr>
			<p>{{.Description}}</p>
			<hr>
			<ol>{{range .Steps}}
				<li>I saw {{.Diagnostic}}, so {{.Action}}.</li>
			{{end}}</ol>
		{{end}}</main>
	</body>
</html>
