<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trojan Tech Ticket System</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
		<style>
@font-face {
	font-family: "Glyphicons Halflings";
	src: url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2) format("woff2"),
		url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff) format("woff");
}
.sortingBy::after {
	content: " \e252";
	font-family: "Glyphicons Halflings";
	font-size: 8pt;
}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Trojan Tech Tickets</a>
			<ul class="nav navbar-nav pull-right">
				{{if .UserIsAdmin}}
				<li class="nav-item"><a class="nav-link" href="/">Submit a Ticket</a></li>
				<li class="nav-item"><a class="nav-link active" href="/status">Ticket List</a></li>
				<li class="nav-item"><a class="nav-link" href="/workers">Workers List</a></li>
				{{end}}
				<li class="nav-item"><a class="nav-link" href="{{.LogoutURL}}">Logout</a></li>
			</ul>
		</nav>
		<main class="container-fluid">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Category</th>
						<th>Worker</th>
						<th>Customer</th>
						<th>Outcome</th>
						<th>Description</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					{{range $i, $t := .Tickets}}
					<tr data-description="{{$t.Description}}"
							data-steps="{{$t.Steps | json}}"
							data-class-name="{{$t.ClassName}}"
							data-class-type="{{$t.ClassType}}"
							data-teacher="{{$t.ClassTeacher}}">
						<td>{{index $.TicketNumbers $i}}</td>
						<td>{{$t.Category}}</td>
						<td>{{$.Workers | json | workerName $t.Worker}}</td>
						<td><a href="mailto:{{$t.Customer.Email}}">{{$t.Customer.Name}}</a></td>
						<td>{{if $t.EscalatedTo}}Escalated to {{$t.EscalatedTo}}{{else}}Resolved{{end}}</td>
						<td>{{$t.Description | truncate 80}}</td>
						<td>{{$t.Time | timeIn "US/Central" | timeFormat "2006-01-02 3:04 PM"}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</main>
		<div class="modal fade" id="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title">Ticket</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group row">
								<label for="category" class="col-sm-2 form-control-label">Category</label>
								<div class="col-sm-10">
									<input class="form-control" disabled id="category"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="worker" class="col-sm-2 form-control-label">Worker</label>
								<div class="col-sm-10">
									<input class="form-control" disabled id="worker"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="time" class="col-sm-2 form-control-label">Time</label>
								<div class="col-sm-10">
									<input class="form-control" disabled id="time"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="customer" class="col-sm-2 form-control-label">Customer</label>
								<div class="col-sm-10">
									<input class="form-control" disabled id="customer"/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 form-control-label">Skipping</label>
								<div class="col-sm-5">
									<input class="form-control" disabled id="teacher"/>
								</div>
								<div class="col-sm-5">
									<input class="form-control" disabled id="className"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="description" class="col-sm-2 form-control-label">Description</label>
								<div class="col-sm-10">
									<textarea class="form-control" disabled id="description" rows="5"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label for="steps" class="col-sm-2 form-control-label">Steps Taken</label>
								<div class="col-sm-10" id="steps"></div>
							</div>
							<div class="form-group row">
								<label for="outcome" class="col-sm-2 form-control-label">Outcome</label>
								<div class="col-sm-10">
									<input class="form-control" disabled id="outcome"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
		<script>
$(function() {
	var modalFields = [
		"category",
		"worker",
		"customer",
		"outcome",
		undefined,
		"time"
	];
	$("th").click(function() {
		$("th").removeClass("sortingBy");
		this.classList.add("sortingBy");
		var cellIndex = this.cellIndex;
		var e = $("tbody>tr");
		e.sort(function(a, b) {
			a = $("td:nth-child(" + (cellIndex+1) + ")", a).text();
			b = $("td:nth-child(" + (cellIndex+1) + ")", b).text();
			return a.localeCompare(b);
		});
		e.detach().appendTo($("tbody"));
	});
	$("tbody>tr").click(function() {
		var data = $(this).children().map(function(_, e) {
			return e.textContent;
		}).toArray();
		data.forEach(function(value, i) {
			var field = modalFields[i];
			if(field === undefined) return;
			$("#" + field).val(value);
		});
		$("#description").val(this.dataset.description);
		$("#steps").empty().append(JSON.parse(this.dataset.steps).map(function(step) {
			return $("<input>")
				.addClass("form-control")
				.attr("disabled", true)
				.val("Saw " + step.Diagnostic + ", so " + step.Action + ".");
		}));
		$("#teacher").val(this.dataset.teacher);
		$("#className").val(this.dataset.className);
		$("#modal").modal();
	});
});
		</script>
	</body>
</html>
